*,
*::before,
*::after
{
    box-sizing: border-box;
}

:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --gray-magenta: hsl(303, 10%, 53%);
    --light-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --regular-font: 0.9375rem;

    --light: 400;
    --regular: 500;
    --bold: 700;

}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: var(--regular-font);
    color: var(--dark-magenta);
}

h1,
h2 {
    margin: 0;
    font-weight: 700;
}

p {
    margin: 0;
    max-width: 40ch;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

/* ######### Layout */
.container {
    width: 90%;
    max-width: 18rem;
    margin-inline: auto;
}
.main__container {
    background-color: var(--white);
}


.section__testimonials {
    color: var(--white);

    display: grid;
    gap: 1rem;
}

/* ######### Ratings */
.rating__description {
    color: var(--gray-magenta);
}

.rating__card {
    background-color: var(--light-magenta);
}


/* ######### Testimonials */

.testimonial__card {
    background-color: var(--dark-magenta);
    border-radius: 7px;
    overflow: hidden;
    padding-block: 2rem;
    padding-inline: 1.5rem;
}

.testimonial__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.testimonial__image {
    margin: 0;

    border-radius: 50px;
    overflow: hidden;

    width: 14%;

}

.testimonial__profile {
    font-size: .8rem;
}



.testimonial__body {
    margin-block-start: 1.5rem;
}



/* ######### Profile */

.profile__name {
    font-size: 1em;
}

.profile__tag {
    color: var(--soft-pink);
    font-size: 1em;
    font-weight: 500;
}
