*,
*::before,
*::after
{
    box-sizing: border-box;
}

:root {
    --dark-magent: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    --gray-magenta: hsl(303, 10%, 53%);
    --light-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --regular-font: 0.9375rem;

    --light: 400;
    --regular: 500;
    --bold: 700;

}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: var(--regular-font);
    color: var(--dark-magent);
}

img {
    max-width: 100%;
}

/* ######### Layout */
.container {
    background-color: var(--white);
}


.section__testimonials {
    color: var(--white);
}

/* ######### Ratings */
.rating__description {
    color: var(--gray-magenta);
}

.rating__card {
    background-color: var(--light-magenta);
}


/* ######### Testimonials */

.testimonial__card {
    background-color: var(--dark-magent);
}

.profile__tag {
    color: var(--soft-pink);
}